.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section h2.section-head {
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}

.section h2.section-head::after {
    background: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}

a {
    text-decoration: none;
}

#header {
    color: #fff;
    background: #e74c3c;
}

#logo {
    font-size: 2rem;
    margin-top: 5px;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
}

#menu li a {
    color: #fff;
    padding: 15px 10px;
    display: block;

}

#menu li a:hover {
    background: #c0392b;
}

#banner {
    background: url('../assets/banner.jpg') no-repeat 0 0;
    background-size: cover;
}

.banner-title {
    padding-top: 5rem;
}

.banner-title h1 {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.banner-title p {
    color: #fff;
    background: rgba(231, 76, 60, 0.7);
    margin: 0;
    padding: 10px;
}

.service-box {
    text-align: center;
}

.service-box i.fa {
    color: #e74c3c;
    font-size: 70px;
    margin-bottom: 15px;
}

#testimonials {
    color: #fff;
    background: url(../assets/testimonial-bg.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;
}

.testimonial img {
    border-radius: 50%;
}

.news-post img {
    width: 100%;
    margin-bottom: 10px;
}

.news-post h3 {
    font-size: 1.35rem;

}

.news-post a {
    color: #e74c3c;

}

.news-date {
    font-size: 13px;
    margin-bottom: 2px;
}

.calendar-icon {
    padding-right: 5px;
}

a.readmore:after {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}